<div class="account-person">
    <div class="account-person__pic">
        <img src="images/account-person/pic.svg" alt="avatar">
    </div>
    <!--<div class="account-person__without-pic">K</div>-->
	<div class="account-person__name">Константин</div>
    <a href="#" class="account-person__full-link"></a>
</div>