<div class="search-line">
    <form class="search-line__form">
        <input type="input" class="search-line__input" placeholder="Поиск" />
        <div class="search-line__btns">
            <button type="button" class="search-line__btn"></button>
            <button type="reset" class="search-line__reset"></button>
        </div>
    </form>
</div>