$color: #09121F;
$colorSecond: #898D93;
$colorThird: #E19292;
$colorWrong: #ED0A34;
$colorSuccess: #0DC268;
$colorAccent: #005BD1;
$font-size: 15px;
$font-weight: 400;
$line-height: 1.6;
$font-family: 'Manrope', sans-serif;