<div class="page-not-found">
    <div class="page-not-found__inner">
        <div class="page-not-found__pic">
            <img src="images/page-not-found/pic.png" alt="pic">
        </div>
        <div class="page-not-found__desc">
            <div class="page-not-found__title">404. Страница не найдена.</div>
            <div class="page-not-found__text">
                Похоже страницы, на которую вы собирались попасть, не существует.
                <i class="page-not-found__emoji"></i>
                <br>
                Убедитесь в правильности введённого адреса или вернитесь на главную.
            </div>
            <div class="page-not-found__btn">
                <a href="#">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>