{% from "accordion/accordion.njk" import accordion %}

<div class="faq">
    {% set accordions = [
        {
            title: 'С чего начать'
        },
        {
            title: 'Как купить автомобиль'
        },
        {
            title: 'Какие бывают аукционы'
        },
        {
            title: 'Что такое шаг аукциона'
        },
        {
            title: 'Как узнать, когда закончится аукцион'
        },
        {
            title: 'Что такое лот'
        },
        {
            title: 'Как создать лот'
        },
        {
            title: 'Доступна ли информация обо мне другим участникам Системы'
        }
    ] %}

    {% for item in accordions %}
        {{
            accordion({
                title: item.title,
                content: '  <div class="faq__content">
                                <div class="text-default">
                                    <span>Чтобы продать автомобиль(и) нужно:</span>
                                    <ul>
                                        <li>
                                            Зайти в раздел МОИ АКТИВНОСТИ главного меню и нажать кнопку ДОБАВИТЬ ЛОТ. При этом обязательными являются название лота, начальная цена, минимальная цена, блиц-цена. Вы можете добавить автомобили как при создании лота, так и позже в режиме его редактирования. Чтобы добавить автомобили в лот, нажмите кнопку ДОБАВИТЬ АВТОМОБИЛЬ и далее, используя фильтр, выберите нужные Вам автомобили. После того, как Вы закончили формировать лот, необходимо подтвердить его, нажав кнопку ПОДТВЕРДИТЬ. Новый лот сразу же станет доступен в разделе В ПОДГОТОВКЕ, где его можно будет при необходимости отредактировать.
                                            <p></p>
                                            <div class="ul-full-img">
                                                <img src="images/faq/pic.jpg" alt="pic">
                                            </div>
                                        </li>
                                        <li>
                                            Подождать некоторое время, пока администратор не распределит Ваш лот в аукцион. Вы получите оповещение по электронной почте, а статус Вашего лота изменится на ТЕКУЩИЙ в МОИХ АКТИВНОСТЯХ. Ваш лот станет доступен онлайн для всех участников аукциона в разделе АУКЦИОНЫ.
                                        </li>
                                        <li>
                                            По результатам аукциона с Вами свяжется наш менеджер для уточнения статуса проданных лотов и возможности повторного выставления в аукцион непроданных лотов. Статистика по Вашим продажам доступна в разделе МОИ АКТИВНОСТИ.
                                        </li>
                                    </ul>
                                </div>
                            </div>'
            })
        }}
    {% endfor %}
</div>