{% macro autoBetBtn(args) %}
    <button type="button" class="auto-bet-btn {{ args.modiferClass }}">
        <i class="icon-bids-auto"></i>
        <span>Автоставка</span>
    </button>
{% endmacro %}