.make-bet-btn {
    width: 100%;
    cursor: pointer;
    appearance: none;
    color: #fff;
    padding: 8px 37px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    background: $colorAccent;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.8;
    }
}