.lots {
    &__item {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include sm {
        &__item {
            margin-bottom: 8px;
        }
    }
}