<!DOCTYPE html>
<html lang="ru">
	{% set title = "Calendar Page" %}
    {% set showSidebarAuth = true %}

	{% include "head/head.njk" %}

	{% from "select-box/select-box.njk" import selectBox %}
	{% from "header/header.njk" import header %}
	{% from "mobile-menu/mobile-menu.njk" import mobileMenu %}
<body>
	<div class="wrapper">
		{% include "sidebar/sidebar.njk" %}

		<div class="main">
			{{
				header({
					title: "Календарь торгов",
                    showAuth: true,
					showBackLink: true
				})
			}}

			{{
				mobileMenu({
					showAuth: true
				})
			}}

			<div class="main-content has-filter">
				{% include "filter/filter.njk" %}

                {% set sortLineWithTags = true %}
				{% include "sort-line/sort-line.njk" %}
                {% set sortLineWithTags = false %}

				{% include "schedule-lots/schedule-lots.njk" %}

				{% include "pagination/pagination.njk" %}
			</div>
		</div>
	</div>
	<!-- /.wrapper -->

	{% include "../components/scripts/scripts.njk" %}
</body>
</html>
