{% macro setBetPrice(args) %}
    <div class="set-bet-price {{ args.modiferClass }}">
        <button type="button" class="set-bet-price__btn minus"></button>
        <input class="set-bet-price__input" value="1 005 000 ₽" />
        <button type="button" class="set-bet-price__btn plus"></button>
    </div>
{% endmacro %}