{% from "select-box/select-box.njk" import selectBox %}

<div class="filter js-filter">
    <div class="filter__shadow js-filter__shadow"></div>
    <div class="filter__wrapper">
        <div class="filter__top-mob">
            <div class="filter__title">Фильтр</div>
            <div class="filter__close-btn js-filter__close-btn"></div>
        </div>
        <div class="filter__content js-filter__content">
            <div class="filter__top-fields">
                {% for item in json.filter.fields.top %}
                    {% if item.fields.length === 1 %}
                        {% for item in item.fields %}
                            <div class="filter__field">
                                {% set modifyedItem = item | setAttribute('modiferClass', 'js-select-box-filter') %}

                                {{ selectBox(modifyedItem) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="filter__fields">
                            {% for item in item.fields %}
                                <div class="filter__small-field">
                                    {% set modifyedItem = item | setAttribute('modiferClass', 'js-select-box-filter') %}

                                    {{ selectBox(modifyedItem) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="filter__bottom-fields js-filter__bottom-fields">
                {% for item in json.filter.fields.bottom %}
                    {% if item.fields.length === 1 %}
                        {% for item in item.fields %}
                            <div class="filter__field">
                                {% set modifyedItem = item | setAttribute('modiferClass', 'js-select-box-filter') %}

                                {{ selectBox(modifyedItem) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="filter__fields">
                            {% for item in item.fields %}
                                <div class="filter__small-field">
                                    {% set modifyedItem = item | setAttribute('modiferClass', 'js-select-box-filter') %}

                                    {{ selectBox(modifyedItem) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="filter__bottom">
                <button class="filter__toggle-btn js-filter__toggle-btn">Еще</button>
                <div class="filter__btns">
                    <a href="#" class="filter__reset-btn">Сбросить</a>
                    <a href="#" class="filter__apply-btn">Показать 357 лотов </a>
                </div>
            </div>
        </div>
       
    </div>
</div>

<button type="button" class="filter-open-btn js-filter-open-btn hide-desktop">Фильтр</button>